/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/Navbar/nav.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.navbar {
  z-index: 9999;
}

.nav-link {
  font-family: cm;
  font-size: 20px;
  color: black;
}

.nav-link:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #ff5555;
          text-decoration-color: #ff5555;
}
.nav-btn {
  font-family: cl;
  color: white;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background: #000000;
  border-radius: 4px;
}

.navbar-nav {
  width: 90%;
  display: flex;
}

@media (max-width: 500px) {
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bbb {
    text-align: center;
  }

}

/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/main/Main.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.main {
  position: relative;
  overflow: hidden;
}

.main-head {
  font-family: cb;
  text-transform: capitalize;
  word-spacing: 6px;
  font-size: 60px;
}

.img-main {
  height: 900px;
  top: -10%;
}

.main-para {
  font-family: cm;
  color: rgba(84, 84, 84, 0.619);
  font-size: 18px;
}

.main-btn {
  background-color: black;
  padding: 14px;
  border-radius: 4px;
}

.ecli-main {
  /* Group 35896 */

  position: absolute;
  width: 317px;
  height: 230px;
  left: 15%;
  
  top: -5%;
  z-index: -4;
}

@media (max-width:500px) {
  
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/features/Features.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.p-1{
    margin: 0;
    padding: 0;
    font-family: cr;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #FF5555;
    text-align: left;
}
.features{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features h1{
text-align: left;
    font-family: cb;
    text-transform: capitalize;
}

.features p{
    font-family: cm;
}

.b{
    position: absolute;
    z-index: -1;
    left: 40%;
    top: -16%;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/Advantages/adv.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.advantages h1{
    text-align: left;
    font-family: cb;
    text-transform: capitalize;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/Testimonial/Test.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.test-h{
    font-family: cm;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

.test h1{
    font-family: cb;
    text-transform: capitalize;
}

.test h2{
    font-family: cm;
    text-transform: capitalize;
    font-size: 28px;
}

.test h3{
    font-family: cm;
    text-transform: capitalize;
    font-size: 18px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/FAQ/Faq.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.faq h2{
font-family: cb;
}

.faq h3{
    font-size: 28px;
    font-family: cm;
    text-transform: capitalize;
}

.faq p{
    font-family: cr;
}

.c{
    padding: 60px;
}

.red{
    color: white;
    background-color: #FF5555;
    border-radius: 8px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/ready/ready.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.back {
  background-image: url("https://res.cloudinary.com/dq7brjjnz/image/upload/v1717252418/15807d7d-73d6-4e6a-955b-bea0ddc35d23.png");
  height: 70vh;
  background-size: cover;
  border-radius: 8px;
}

.ready{
    overflow: hidden;
}

.ready h1{
    font-family: cb;
    text-transform: capitalize;
    color: white;
}
.ready p{
    font-family: cr;
    text-transform: capitalize;
    color: white;
}

.ready{
    position: relative;
}

.sv{
    z-index: -1;
    position: absolute;
    top: -10%;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/Footer/footer.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.footer{
    margin: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p,h2{
    font-family: cm;
    text-transform: capitalize;
}

.footer input{
    padding: 30px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 8px;
    outline: none;
    border: none;

}

::placeholder{
    font-family: cr;
}

.footer button{
    font-family: cr;
    padding: 30px;
    color:white;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;

}

.footer p:hover{
    text-decoration: underline;
}

@media (max-width:500px) {
    .footer{
        padding: 0 !important;
        margin: 0 !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .footer button{
        padding: none !important;
        font-size: 10px;
    }
    }
