.test-h{
    font-family: cm;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

.test h1{
    font-family: cb;
    text-transform: capitalize;
}

.test h2{
    font-family: cm;
    text-transform: capitalize;
    font-size: 28px;
}

.test h3{
    font-family: cm;
    text-transform: capitalize;
    font-size: 18px;
}